# Bisa disesuaikan untuk link URL nya
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="mysql://root:@localhost:3306/otp-webportal"


# Konfigurasi untuk servernya 
INGEST_PORT=3000
INGEST_TOKEN=testing-otp-2026


# Mail config (SMTP)
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=pir.maintenance@gdn-commerce.com
MAIL_PASSWORD=tywwbswpctnhrjsr
MAIL_FROM_ADDRESS=pir.maintenance@gdn-commerce.com
MAIL_FROM_NAME=OTP Receiver